@import "mixins";
@import "variables";

/*--------------------------------------------------------              DISPENSER SECTION            ------------------------------------------------------------------------------------------*/

.dispenser-container {
  .dispenser-main {
    height: 860px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: start;
    padding: 5vw 8vw;
    background-image: linear-gradient(to bottom, #e8e3dd, white, white);
  }
  .dis-text {
    text-align: center;
    margin-top: 180px;
    h1 {
      font-family: "Anton", sans-serif;
      font-size: 45px;
      margin: 0.2vw 0 15px;
      color: map-get($colores, title-color);
    }
    h6 {
      color: map-get($colores, strong-color);
      font-size: 1.1vw;
      font-weight: 690;
      letter-spacing: 2px;
    }
    p {
      color: map-get($colores, bg-color);
      font-size: 19px;
      margin-top: 48px;
      font-weight: 190;
      line-height: 25px;
      text-indent: 25px;
      text-align: justify;
    }
  }
  .dis-iframe {
    @include dimensiones(100%, auto);
    padding: 0% 10%;
    margin-top: 180px;
    iframe {
      @include dimensiones(710px, 400px);
    }
  }
  /*DIS FUNCTIONS*/
  .dis-app {
    .center-text {
      text-align: center;
      margin-top: 0px;
      h5 {
        color: map-get($colores, strong-color);
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 0px;
      }
      h2 {
        font-size: 29px;
        line-height: 1.2;
        font-weight: 600px;
      }
    }
    .functions-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, auto));
      gap: 1.5rem;
      align-items: center;
      cursor: pointer;
      text-align: center;
      margin-top: 3rem;
      .box-dis {
        margin-bottom: 30px;
        margin-bottom: 69px;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 10px;
          line-height: 1.3;
          transition: all 0.4s ease;
        }
        h3:hover {
          color: map-get($colores, main-color);
        }
        p {
          font-size: $p-size;
          color: $big-font;
          font-weight: 100;
        }
        .dis-image {
          display: block;
          margin: auto;
          max-width: 100%;
          height: auto;
          border-radius: 30px;
          @include sombra(0px, 12px, 10px, rgba(0, 0, 0, 0.1));
          justify-content: center;
          align-items: center;
        }
      }
      .box-dis:hover {
        transform: translateY(-15px);
      }
    }
  }
}
