@mixin dimensiones($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

@mixin sombra($desplazamiento-x, $desplazamiento-y, $desenfoque, $difuminado) {
  box-shadow: $desplazamiento-x $desplazamiento-y $desenfoque $difuminado;
}
