
$big-font: 3.9rem;
$p-size: 18px;

/* mapa de colores*/

$colores: (
    back-color: #c8c2d9,
    bg-color: #292929,
    text-color: black,
    grey-color: #585f61,
    title-color: #292929,
    backcolor: #dbd6ea,
    light-color: #c8c2d9,
    main-color: #a19dc5,
    strong-color: #58588a,
    grey: #e5e5e5,
    white:#fff,
    blue:#007bff,
);
